@charset "UTF-8";
:root {
  --bgcolor: #ffffff;
  --color-text: #212121;
  --hover-focus: #2196f3;
  --color-nav: #212121;
  --header-footer: #2f303a;
  --team-bg: rgb(245, 244, 250);
  --category-search: #757575;
  --cubik: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-transparent: #ffffff99;
}

body {
  font-family: roboto;
  color: var(--color-text);
  background-color: var(--bgcolor);
}

/* Сбросс отступов */
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

input,
textarea {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Свойства контейнера */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 1px solid red; */
}

.head-style {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
}

.list > p {
  font-size: 16px;
  font-weight: 400;
}

/* Начало оформления лого */
.head-logo {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  font-size: 26px;
  font-family: raleway;
  text-decoration: none;
  color: var(--color-text);
}
.head-logo__part--blue {
  display: flex;
  font-size: 26px;
  font-family: raleway;
  color: var(--hover-focus);
}

.logo-footer {
  color: var(--bgcolor);
  padding-bottom: 0;
  margin-bottom: 20px;
  padding-top: 0;
}

/* Конец оформления лого */
/* Декоративная полоса под header */
.head-border {
  border-bottom: 1px solid #ececec;
}

/* Начало оформления навигации */
.head-nav {
  display: flex;
  align-items: center;
  /* Декоративная полоса под header */
}
.head-nav .head-border {
  border-bottom: 1px solid #ececec;
}
.head-nav__list {
  display: flex;
  margin-left: 93px;
}
.head-nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.14;
  color: var(--color-nav);
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);
}
.head-nav__item {
  position: relative;
}
.head-nav__after::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--hover-focus);
  border-radius: 2px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);
}
.head-nav__after:hover::after, .head-nav__after:focus::after, .head-nav__after.active::after {
  opacity: 1;
}
.head-nav__list .head-nav__item + .head-nav__item {
  margin-left: 50px;
}
.head-nav__link:hover, .head-nav__link:focus {
  color: var(--hover-focus);
}
.head-nav__link--active {
  color: var(--hover-focus);
}
.head-nav__link--grey {
  color: var(--category-search);
}

.contact {
  margin-left: auto;
}
.contact-icon {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  fill: var(--category-search);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);
}
.head-nav__link:hover .contact-icon {
  fill: var(--hover-focus);
}

.back-color {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
}

.hero-title {
  text-align: center;
  margin-bottom: 30px;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.36;
  color: var(--bgcolor);
}

.order-service {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: var(--hover-focus);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 32px;
  font-family: roboto;
  cursor: pointer;
  letter-spacing: 0.06em;
  line-height: 1.87;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);
}
.order-service:hover, .order-service:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.order-service:active {
  color: var(--color-text);
  background-color: #f5f4fa;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
  transition: transform 250ms var(--cubik), opacity 250ms var(--cubik);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1);
}

.modal {
  position: absolute;
  min-width: 528px;
  height: 581px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 250ms var(--cubik);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -100%) scale(0.3);
}

.modal-close {
  position: fixed;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--bgcolor);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms var(--cubik);
}
.modal-close:hover, .modal-close:focus, .modal-close:active {
  fill: var(--hover-focus);
}

.form-modal {
  display: block;
  width: 448px;
}
.form-modal__title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.form-modal__label {
  display: flex;
  flex-direction: column;
  height: 58px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--category-search);
}
.form-modal__label.client-coment {
  height: 138px;
  margin-bottom: 20px;
}
.form-modal__input {
  display: inline-block;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 0.01em;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);
}
.form-modal__agree {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--category-search);
}
.form-modal__input:hover, .form-modal__input:focus {
  border-color: var(--hover-focus);
}
.form-modal__input:hover__agree--check, .form-modal__input:focus__agree--check {
  margin-right: 7px;
}
.form-modal__icon {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -40%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);
}
.form-modal__input:hover + .form-modal__icon, .form-modal__input:focus + .form-modal__icon {
  fill: var(--hover-focus);
}

.icon-holder {
  position: relative;
  margin-top: 4px;
  cursor: pointer;
}

.feedback {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  font-size: 16px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);
}
.feedback::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.feedback:hover, .feedback:focus {
  border-color: var(--hover-focus);
}
.feedback__contract {
  display: inline-block;
  margin-left: 4px;
  color: var(--hover-focus);
  text-decoration: underline;
}

.icon-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-color: transparent;
  border: 2px solid var(--color-text);
  border-radius: 2px;
  fill: var(--bgcolor);
}
.form-modal__agree--check:checked + .icon-check {
  background-color: var(--hover-focus);
  background-origin: border-box;
  border-color: var(--hover-focus);
  fill: var(--bgcolor);
}

.form-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hover-focus);
  border: 1px solid var(--hover-focus);
  border-radius: 4px;
  padding: 15px 59px;
  color: var(--bgcolor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);
}
.form-submit:active {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.differences {
  padding-top: 94px;
  padding-bottom: 94px;
}
.differences__list {
  display: flex;
}
.differences__item {
  display: inline-flex;
  width: 270px;
  height: 120px;
  background-color: var(--team-bg);
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.differences__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.differences__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

.works {
  padding-bottom: 94px;
}
.works__list {
  display: flex;
  justify-content: space-between;
}
.works__item {
  position: relative;
}
.works__description {
  display: inline-flex;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--bgcolor);
}

.text-container {
  position: absolute;
  display: inline-flex;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
  align-items: center;
}

.team {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--team-bg);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__list {
  display: flex;
  justify-content: space-between;
}
.team__item {
  padding-bottom: 30px;
  background-color: #ffffff;
  border: transparent;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__person {
  margin-bottom: 10px;
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
}
.team__job {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
}

.team__item + .team__item {
  margin-left: 30px;
}

.soc-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.soc-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.soc-list__link {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--hover-focus);
}

.soc-list__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);
}
.soc-list__link:hover .soc-list__icon, .soc-list__link:focus .soc-list__icon {
  fill: currentColor;
}

.footer-color {
  background-color: var(--header-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address .address__item + .address__item {
  margin-top: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);
}
.address__link:hover, .address__link:focus {
  color: var(--hover-focus);
}

.client {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__list {
  display: flex;
  list-style: none;
}

.client__item {
  margin-left: 30px;
}
.client__item:first-child {
  margin-left: 0;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  fill: rgb(175, 177, 184);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);
}
.client__link:hover, .client__link:focus {
  border-color: var(--hover-focus);
  cursor: pointer;
}

.client__pic {
  fill: inherit;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);
}
.client__link:hover .client__pic, .client__link:focus .client__pic {
  fill: var(--hover-focus);
}

.comunity {
  display: flex;
}

.comunity-join {
  margin-left: 70px;
}

.comunity-list {
  display: flex;
}

.soc-list__link.comunity-list__link {
  background-color: rgba(255, 255, 255, 0.102);
}

.soc-list__link.comunity-list__link:hover,
.soc-list__link.comunity-list__link:focus {
  background-color: var(--hover-focus);
  cursor: pointer;
}

.comunity-list__icon {
  fill: var(--bgcolor);
}

.subscribe {
  margin-left: auto;
}

.subscribe__title {
  color: var(--bgcolor);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 12px;
  margin-bottom: 20px;
}

.subscribe__input {
  color: var(--bgcolor);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;
}
.subscribe__input:hover, .subscribe__input:focus {
  border-color: var(--hover-focus);
}
.subscribe__input::placeholder {
  color: var(--bg-transparent);
  font-weight: 400;
  font-size: 16px;
  font-weight: 1.25;
  letter-spacing: 0.03em;
  font-family: roboto;
}
.subscribe__input:checked {
  border-color: var(--hover-focus);
}

.subscribe__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--bgcolor);
  background-color: var(--hover-focus);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 28px;
  font-family: roboto;
  cursor: pointer;
  letter-spacing: 0.06em;
  line-height: 1.87;
  fill: var(--bgcolor);
  transition-property: color, background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);
}
.subscribe__btn:hover, .subscribe__btn:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe__btn:active {
  color: var(--color-text);
  background-color: #f5f4fa;
  fill: var(--color-text);
}

.btn-icon {
  margin-left: 10px;
  fill: inherit;
}

.filter button {
  color: #212121;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-family: roboto;
  cursor: pointer;
  line-height: 1.625;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  list-style: none;
}

.filter__variant + .filter__variant {
  margin-left: 8px;
}

.filter__btn {
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--bgcolor);
  background-color: var(--hover-focus);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275), 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725), 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}
.filter__btn:active {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
}

.port {
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid #ececec;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list .poster-name {
  font-size: 18px;
  font-weight: 700;
}

.examples__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.examples__item {
  margin-bottom: 30px;
}
.examples__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.examples__link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);
}
.examples__link:hover, .examples__link:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  max-width: 370px;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.898);
  color: var(--bgcolor);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  opacity: 0;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);
}
.examples__link:hover .overlay__text, .examples__link:focus .overlay__text {
  transform: translateY(0);
  opacity: 1;
}

.name-cards {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: var(--color-text);
  letter-spacing: 0.06em;
}

.category {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  color: var(--category-search);
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */