.comunity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include table {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.comunity-join {
  // margin-left: 70px;
}
.comunity-list {
  display: flex;
  gap: 10px;
  margin-bottom: 60px;
}
.soc-list__link.comunity-list__link {
  background-color: rgba(255, 255, 255, 0.102);
}
.soc-list__link.comunity-list__link:hover,
.soc-list__link.comunity-list__link:focus {
  background-color: var(--hover-focus);
  cursor: pointer;
}
.comunity-list__icon {
  fill: var(--bgcolor);
}
