.filter button {
  color: #212121;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-family: roboto;
  cursor: pointer;
  line-height: 1.625;
}
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  list-style: none;
}
.filter__variant + .filter__variant {
  margin-left: 8px;
}

.filter__btn {
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);

  &:hover,
  &:focus {
    color: var(--bgcolor);
    background-color: var(--hover-focus);
    box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
      0px 3px 1px 0px #0000001a;
  }
  &:active {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  }
}
