.footer-color {
  background-color: var(--header-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;

  @include desktop {
    display: block;
    margin-bottom: 9px;
  }

  .address__link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubik);

    &:hover,
    &:focus {
      color: var(--hover-focus);
    }

    @include desktop {
      display: block;
    }
  }
}
.footer-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 60px;

  @include desktop {
    display: block;
    text-align: start;
    margin-bottom: 0;
    padding-right: 70px;
  }
}
