.footer-color {
  background-color: var(--header-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address .address__item + .address__item {
  margin-top: 9px;
}
.address__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubik);

  &:hover,
  &:focus {
    color: var(--hover-focus);
  }
}
